*{
    margin : 0;
    padding: 0;
    box-sizing: 0;
}
.container{
    display: flex;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#ffc5a1;
}
.h1{
     font-weight: 300;
     margin-bottom: 15px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search-field{
    padding: 15px;
    width: 500px;
    border-radius: 100px;
    font-size: 20px;
    color: #1e1e1e;
    outline: none;
    border: 1px solid #1e1e1e;
}
.result{
    display : none;
    margin-top: 20px;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    background-color: #fff;
    padding: 30px;
    overflow-y: scroll;
    border-left: 5px solid #e66a1e;
}
.result > h1{
    font-size: 40px;
    font-weight: 300;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline;
}
.wordmeaning{
    display: inline-block;
    font-size : 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}
.phonetics{
    padding: 5px 10px;
    display: inline-block ;
    background-color: #ffc5a1;
    border-radius: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
}
.result > audio{
  width: 100%;
  outline: none;
  margin-bottom: 20px;
}
.wordmeaning{
font-weight: 800px;
}
.word-defination{
font-size : 28px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
margin-bottom: 20px;
}
.synonyms{
    display: flex;
    font-size : 22px;
    flex-wrap: wrap ;
    margin-bottom: 90px;
    
}
.pills{
    margin: 5px 8px 5px 0;
    margin-right: 10px;
    margin-bottom: 90px;
    padding: 5px 10px;
    background-color: #ffc5a1;
    border-radius: 50px;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
::-webkit-scrollbar{
    width : 10px;
}
::-webkit-scrollbar-track{
    background: #ffa066;
}
::-webkit-scrollbar-thumb{
    background: #e47632;
}